/* @font-face {
   font-family: "Chocolatey";
   src: url(../fonts/Quite\ Chocolatey.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

img {
   max-width: 100%;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.btn {
   border-radius: 4px;
   background-color: #3172b9;
   font-size: 0.9375rem;
   color: #ffffff;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.07px;
   padding: 15px 30px;
   display: inline-block;
}

.btn:hover {
   background-color: rgb(25, 0, 255);
   transition: background-color 0.3s ease;
}

.btn.btn-big {
   padding: 22px 50px;
}

section {
   border-bottom: 0.063rem solid #dadada;
}

/* header */

.header__inner {
   display: flex;
   align-items: center;
   min-height: 110px;
   justify-content: space-between;
}

.nav-list {
   display: flex;
}

.nav-list__item {
   font-size: 0.9375rem;
   font-weight: 600;
}

.nav-link {
   color: #1c1c1c;
   transition: color .2s ease;
}

.nav-link:hover {
   color: #3172b9;
}

.nav-list__item:not(:last-child) {
   margin-right: 50px;
}

.nav-list__item.is-active .nav-link {
   color: #3172b9;
}

.header__btn {
   font-size: 0.9375rem;
}

/* section-hero */

.section-hero {
   background: url(../img/hero/backgroung_hero.jpg) no-repeat right center white;
   background-size: cover;
}

.section-hero__inner {
   padding-top: 120px;
   padding-bottom: 130px;
   max-width: 50%;
}

.section-hero__heading {
   margin-bottom: 32px;
   font-size: 2.5rem;
   font-weight: 300;
   line-height: 1.3;
   letter-spacing: 0.025rem;
   color: #1c1c1c;
}

.section-hero__description {
   margin-bottom: 36px;
   color: #787878;
   font-size: 1rem;
   line-height: 1.56;
   letter-spacing: 0.02rem;
}

.section-hero__btn {
   margin-bottom: 18px;
}

.section-hero__btn-descriptiom {
   display: flex;
   align-items: center;
   font-size: 0.688rem;
   color: #787878;
   line-height: 1.91;
   text-transform: uppercase;
   text-align: left;
   letter-spacing: 0.004rem;
   margin-left: 30px;
}

.section-hero__ssl-icon {
   display: inline-block;
   width: 14px;
   height: 17px;
   background: url(../img/hero/ssl.svg) center center no-repeat;
   background-size: contain;
   margin-right: 10px;
}

/* section-do */

.section-do__inner {
   padding-top: 225px;
   padding-bottom: 190px;
}

.section-heading {
   color: #1c1c1c;
   font-size: 2.25rem;
   font-weight: 300;
   line-height: 1.2;
   text-align: center;
   margin: 0;
   margin-bottom: 36px;
}

.section-description {
   margin-top: 0;
   margin-bottom: 55px;
   font-size: 1rem;
   color: #787878;
   line-height: 1.31;
   text-align: center;
}

.section-do__list {
   margin-top: 55px;
}

.section-do__item {
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 61px 32px;
   border-radius: 0.313rem;
   border: 0.063rem solid #e4e4e4;
   transition-property: background-color, color;
   transition-duration: 0.3s;
   transition-timing-function: ease;
}

.section-do__item:hover {
   cursor: pointer;
   background-color: #3172b9;
}

.section-do__icon path {
   transition: fill 0.3s ease;
}

.section-do__item:hover .section-do__item-description,
.section-do__item:hover .section-do__item-heading {
   color: #ffffff;
}

.section-do__item:hover .section-do__icon path {
   fill: #ffffff;
}

.section-do__item-heading {
   color: #1c1c1c;
   font-size: 1.25rem;
   line-height: 1.05;
   text-align: center;
   margin-top: 33px;
   font-weight: 600;
}

.section-do__item-description {
   text-align: center;
   color: #787878;
   font-size: 0.875rem;
   line-height: 1.5;
   margin-top: 20px;
}

.section-do__item-heading,
.section-do__item-description {
   transition: color 0.3s ease;
}

/* section-clients */

.section-clients__inner {
   padding-top: 97px;
   padding-bottom: 161px;
}

.section-clients__heading {
   margin-bottom: 45px;
   text-align: left;
}

.section-clients__list-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 57px 54px 34px 37px;
   border-radius: 0.313rem;
   border: 0.063rem solid #e4e4e4;
   max-width: 370px;
   margin-bottom: 30px;
}

.section-clients__user {
   display: flex;
   align-items: center;
   border-top: 1px solid #dadada;
}


.section-clients__testimonial {
   color: #787878;
   font-size: 0.875rem;
   line-height: 1.79;
   margin-bottom: 37px;
}

.section-clients__username {
   color: #1c1c1c;
   font-size: 1.063rem;
   line-height: 1.47;
}

.section-clients__description {
   color: #787878;
   font-size: 0.875rem;
   line-height: 1.79;
}

/* section-contacts */

.section-contacts__inner {
   padding-top: 70px;
   padding-bottom: 167px;
}

.section-contacts__title {
   color: #414141;
   font-size: 2.25rem;
   font-weight: 300;
   text-align: left;
   margin-bottom: 120px;
}


.section-contacts__item {
   margin-bottom: 30px;
}

.section-contacts__heading {
   color: #1c1c1c;
   font-size: 1.063rem;
   line-height: 1.47;
}

.section-contacts__info,
.section-contacts__link {
   max-width: 250px;
   color: #787878;
   font-size: 0.875rem;
   line-height: 1.79;
}

.section-contacts__icon {
   display: block;
   height: 26px;
   margin-bottom: 25px;
   background-repeat: no-repeat;
   background-position: center left;
   background-size: auto 100%;
   background-color: transparent;
}

.section-contacts__icon-gps {
   background-image: url(../img/contacts/gps.png);
}

.section-contacts__icon-mail {
   background-image: url(../img/contacts/mail.png);
}

.section-contacts__icon-phone {
   background-image: url(../img/contacts/phone.png);
}

.section-contacts__heading {
   display: block;
   margin-bottom: 44px;
}

/* section-form */

.section-form__inner {
   padding: 120px 0;
}

.section-form__heading {
   margin-bottom: 28px;
}

.section-form__description {
   margin-bottom: 60px;
}

.form {
   max-width: 1050px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.form__input {
   border-radius: 1.875rem;
   border: 0.063rem solid #dadada;
   padding: 22px 29px 25px;
}

.form__input::placeholder {
   color: #787878;
   font-size: 1rem;
   line-height: 1.31;
   font-weight: 300;
}

.form__btn-submit {
   border-radius: 1.875rem;
   background-color: #3172b9;
   padding: 24px 65px;
   border: none;
   cursor: pointer;
}

/* footer */

.footer__inner {
   min-height: 140px;
}

.footer__left {
   display: flex;
   align-items: center;
}

.footer__logo {
   margin-right: 26px;
}

.footer__right {
   display: flex;
   margin: auto 0;
}

.footer__copyright {
   color: #787878;
   font-size: 0.75rem;
   line-height: 1.42;
}

.footer-nav__list {
   display: flex;
   align-items: center;
}

.footer-nav__link {
   color: #787878;
   font-size: 0.875rem;
   line-height: 1.5;
}

.footer-nav__item:not(:last-child) {
   margin-right: 35px;
}

.footer-social-list {
   display: flex;
   justify-content: space-between;
   margin-left: 59px;
}

.footer-socia-item:not(:last-child) {
   margin-right: 30px;
}

.footer-socia-icon {
   display: inline-block;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: transparent;
}

.footer-socia-icon-twitter {
   background-image: url(../img/footer/Twitter.svg);
   width: 19px;
   height: 16px;
}

.footer-socia-icon-linkedin {
   background-image: url(../img/footer/Linkedin.svg);
   width: 20px;
   height: 19px;
   transform: translateY(-2px);
}

.footer-socia-icon-mail {
   background-image: url(../img/footer/Email.svg);
   width: 24px;
   height: 18px;
}

@media screen and (max-width: 1199px) {
   .header__nav {
      order: 2;
   }

   .header__btn {
      order: 1;
   }
}

@media screen and (max-width: 599px) {
   .header__nav {
      display: none;
   }

   .footer__right {
      flex-direction: column;
   }

   .footer-nav__list {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 20px;
   }

   .footer-nav {
      margin-bottom: 20px;
   }
}